
code/agenda_its/agenda_its.Android/obj/Debug/customview-map.txt
code/agenda_its/agenda_its.Android/obj/Debug/designtime/build.props
code/agenda_its/agenda_its.Android/obj/Debug/designtime/libraryimports.cache
code/agenda_its/agenda_its.Android/obj/Debug/designtime/libraryprojectimports.cache
code/agenda_its/agenda_its.Android/obj/Debug/flat/layout_tabbar.xml.flat
code/agenda_its/agenda_its.Android/obj/Debug/flat/layout_toolbar.xml.flat
code/agenda_its/agenda_its.Android/obj/Debug/flat/mipmap-anydpi-v26_icon.xml.flat
